priority 2

extends c-like-for
extends c-like-comments
extends c-like-control
extends c-macros
extends c-types
extends c-file
extends c-struct



# -------------- TEMPLATES ---------------
snippet default_template
#include <stdio.h>





// main
int main(int argc, char *argv[])
{




	return 0;
}





// end
endsnippet
# --------
