# -------------------------------------------

snippet box
display: block;
box-sizing: border-box;
endsnippet 
# --------

snippet j
{
	$0
}
endsnippet
# --------

snippet jj
{ $1 }$0
endsnippet
# --------

snippet 3



endsnippet
# --------

snippet 5





endsnippet
# --------
