extends c-like-for
extends c-like-comments

snippet default_template
/* BEGIN */



void main()
{
	print("Hello, Dart!");
}



/* END */
endsnippet
# --------

snippet "v\\" "printed value" wrA
$1: $$1$0
endsnippet
# --------
