# -----------------------------------------------
# date, autor

extends c-like-for
extends c-like-comments





# -----------------------------------------------
# struct

snippet sct
struct $1
{
	$0
};
endsnippet
# --------

snippet cls
class $1
{
public:
	$0



};
endsnippet
# --------




snippet b
"$1"$0
endsnippet
# --------
