snippet "#-" "com" brA
# --------
endsnippet

snippet "snip " "snippet" brA
snippet
$0
endsnippe${1:t}
# --------
endsnippet

snippet "snipp " "snippet" brA
snippet "$2" "${3:$2}" ${4:w}
$0
endsnippe${1:t}
# --------
endsnippet
