snippet ctags
!if [ -f .ctags ]; then rm .ctags; fi
!ctags -R --c++-kinds=+p --fields=+iaS --extra=+q -o .ctags
:set tags+=.ctags
endsnippet
# --------

snippet "\bfn\\" "function" bAr
fun! $1
	$0
endfun
endsnippet
# --------

snippet "\bif\\" "if" bAr
if $1
	$0
endif
endsnippet
# --------

snippet "\bfor\\" "for" bAr
for $1 in $2
	$0
endfor
endsnippet
# --------

snippet "\bwhile\\" "while" bAr
while $1
	$0
endwhile
endsnippet
# --------
