snippet ctags
!if [ -f .ctags ]; then rm .ctags; fi
!ctags -R --c++-kinds=+p --fields=+iaS --extra=+q -o .ctags
:set tags+=.ctags
endsnippet
# --------

snippet "fn " "function" bAr
function $1($2)
	$0
endfunction
endsnippet
# --------

snippet "if " "if" bAr
if $1
	$0
endif
endsnippet
# --------

snippet "c " "call" bAr
call $1($0)
endsnippet
# --------
